**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.git
**/.gitignore
**/*.md
**/README.md
**/LICENSE
**/.env
**/uploads
**/*.db
**/*.db-shm
**/*.db-wal